.ipynb_checkpoints/
node_modules/

week1_NFT_framework/bsc/mynft/node_modules/

week1_NFT_framework/bsc/mynft/build/

week1_NFT_framework/bsc/mynft/test/
week1_NFT_framework/polkadot/.env.local
week1_NFT_framework/tron/decentralized-library/package-lock.json
